/*#pagina {
	width: 1000px;
	margin: auto;
	font-family: Verdana;
        font-size: 1em;
}
/*#pagina div {
	margin-top: 1%;
}
#pagina input{
	width: 100%;
}
#pagina input:focus{
        background-color: olivedrab;
        color: #fff;
        font-weight: bold;
}
#pagina select:focus{

        background-color: olivedrab;
}
#pagina select{
	width: 100%;
}*/

table {
    width: 100%;
}
    
table, th, td {
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
}

caption {
	font-size: 150%;
	font-weight: bold;
	margin: 5px;
}

td, th {
	padding: 4px;
}

thead th {
	text-align: center;
	background: #E6EDF5;
	color: #4F76A3;
	font-size: 100% !important;
}

tbody th {
	font-weight: bold;
}

tbody tr { background: #FCFDFE; }

tbody tr.odd { background: #F7F9FC; }

table a:link {
	text-decoration: none;
}

table a:visited {
        color: #fff;
	text-decoration: none;
}

table a:hover {
	color: #fff;
	text-decoration: none;
}
table td{
    text-align: center;
}

tfoot th, tfoot td {
	font-size: 85%;
}
.imgpointer{
    cursor: pointer;
}
.labelnegro{
    font-weight: bold;
    color: #000;
}